/* NOTE: CSS Media Query for main website */
@media only screen and (max-width: 1440px) {
  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  /* Main Navigation */
  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 1366px) {
  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  /* Main Navigation */
  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 1200px) {

  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  .logo {
    margin-left: 50px;
  }

  .logo-black {
    margin: 10px 0;
  }

  /* Main Navigation */
  /* Sticky Navigation */
  .sticky .main-nav {
    margin-top: 28px;
  }

  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 1024px) {

  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  .logo {
    margin-left: 70px;
  }

  .logo-black {
    margin-left: 20px;
  }

  /* Main Navigation */
  .main-nav li a:link,
  .main-nav li a:visited {
    margin-right: 30px;
  }

  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 1000px) {

  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  /* Main Navigation */
  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  .about-column {
    text-align: center;
    width: 100%;
  }

  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  .storyarc-column {
    text-align: center;
    width: 100%;
  }

  .issue-cover-art {
    margin-left: 0;
  }

  .issue-description {
    margin-left: 5px;
    text-align: left;
  }

  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  .socials-container {
    text-align: center;
  }

  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  .support-column {
    width: 100%;
  }

  .support-channel-name,
  .support-channel-amount,
  .support-channel-text,
  .support-channel-button {
    text-align: center;
  }

  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 915px) {
  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  /* Main Navigation */
  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 823px) {
  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  /* Main Navigation */
  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 768px) {

  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  .logo {
    margin-left: 50px;
  }

  /* Main Navigation */
  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 720px) {
  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  /* Main Navigation */
  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 667px) {

  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  h1 {
    font-size: 170%;
  }

  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  .logo {
    margin-left: 40px;
  }

  /* Main Navigation */
  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 653px) {

  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  .hero-text-box {
    left: 5%;
  }

  .logo {
    margin-left: 20px;
  }

  .logo-black {
    margin-left: 15px;
  }

  /* Main Navigation */
  .main-nav {
    float: left;
    margin-top: 63px;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    margin-left: 30px;
    margin-right: 0;
  }

  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 600px) {
  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  /* Main Navigation */
  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 568px) {

  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  /* Main Navigation */
  .main-nav li a:link,
  .main-nav li a:visited {
    margin-left: 20px;
    margin-right: 0;
  }

  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 540px) {

  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  /* Main Navigation */
  .main-nav li a:link,
  .main-nav li a:visited {
    margin-left: 10px;
  }

  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 521px) {

  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  /* Main Navigation */
  .main-nav li {
    display: inline-block;
    margin-left: 30px;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    margin-left: 1px;
  }

  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 480px) {
  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  /* Main Navigation */
  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 414px) {

  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  .logo {
    height: 100px;
  }

  .logo-black {
    height: 30px;
  }

  /* Main Navigation */
  .main-nav {
    margin-top: 40px;
  }

  .main-nav li {
    margin-left: 20px;
  }

  /* Sticky Navigation */
  .sticky .main-nav {
    margin-top: 15px;
  }

  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 375px) {

  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  .btn:link,
  .btn:visited {
    padding: 8px 20px;
  }

  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  .hero-text-box {
    top: 35%;
  }

  /* Main Navigation */
  .main-nav li {
    margin-left: 10px;
  }

  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 360px) {

  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  /* Main Navigation */
  .main-nav li {
    margin-left: 13px;
  }

  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 345px) {
  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  /* Main Navigation */
  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 327px) {

  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  .btn:link,
  .btn:visited {
    margin-right: 10px;
    padding: 3px 12px;
  }

  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  .hero-text-box {
    position: absolute;
    top: 30%;
  }

  .logo {
    margin-left: 10px;
  }

  /* Main Navigation */
  .main-nav li {
    margin-left: 5px;
  }

  /* Sticky Navigation */
  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
}

@media only screen and (max-width: 295px) {

  /* ----------------------- */
  /* Basic Setup             */
  /* ----------------------- */
  /* ----------------------- */
  /* Reusable Components     */
  /* ----------------------- */
  /* Elements */
  /* Class */
  .btn:link,
  .btn:visited {
    margin-right: 3px;
    padding: 1px 8px;
  }

  /* ----------------------- */
  /* Header Section          */
  /* ----------------------- */
  .logo {
    height: 80px;
    margin-left: 1px;
  }

  .logo-black {
    height: 25px;
    margin-left: 1px;
  }

  /* Main Navigation */
  .main-nav {
    margin-top: 30px;
  }

  .main-nav li {
    margin-left: 2px;
  }

  /* Sticky Navigation */
  .sticky .main-nav {
    margin-top: 13px;
  }

  /* ----------------------- */
  /* About Section           */
  /* ----------------------- */
  /* ----------------------- */
  /* Story Arc Section       */
  /* ----------------------- */
  /* ----------------------- */
  /* Who Am I Section        */
  /* ----------------------- */
  /* ----------------------- */
  /* Support Section         */
  /* ----------------------- */
  /* ----------------------- */
  /* Footer Section          */
  /* ----------------------- */
  footer {
    padding: 10px;
  }

  footer p {
    margin-top: 1px;
  }
}
